<h1>Country : {{country}}</h1>
<hr>
<h1 style="color:#6D8896">Arabic</h1>
<form action="/" method="post">
  <h1>Common: <input name="arCommon"></h1>
  <h1>Official: <input name="arOfficial"></h1>
  <hr>
  <h1 style="color:#6D8896">Persian</h1>
  <h1>Common: <input name="prCommon"></h1>
  <h1>Official: <input name="prOfficial"></h1>
  <button class="btn btn-info center-block btn-lg">Send</button>
</form>
