name: CI
on: push

jobs:
  test:
    name: Tests on PHP ${{ matrix.php-versions }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-versions: ['7.3', '7.4', '8.0']
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}

      - name: Install NPM dependencies
        run: yarn add jsonlint

      - name: Lint JSON files
        run: bash ./ci/test.sh

      - name: Install Composer dependencies
        run: composer install

      - name: Test conversion of countries data
        run: php countries.php convert
